.change-book {
  padding: 3.5rem 3.5rem;
  border-radius: .325rem;
  display: flex;
  gap: 2rem;

  form {
    margin: 0 auto;
    padding: 4.5rem 5.5rem;
    max-width: 100%;
    border-radius: 1.5rem ;
    height: 830px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
    text-align: start;
    width: 25ch;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #131313;
  }

}

@media screen and (max-width: 1600px){
  .change-book {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      height: 820px;
      max-width: 80%;
      justify-content: center;
      align-items: center;
    }
  }

}
@media screen and (max-width: 400px) {
  
  .change-book {
    width: 90%;
    padding: 1rem 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    form {
      padding: 1rem 4rem;
      width: 60%;
      font-size: 1rem;
      height: 700px;
      gap: .5rem;
    }
    h2 {
      padding: 2rem 0 0 0;
      font-size: 1.2rem;
      width: 100%;
    }
    
  }

}