.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 4rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.menu ul {
  margin: 1.5rem;
  display: flex;
  gap: 2rem;
  list-style: none;
}

.logo {
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 1;
  list-style-type: none;
  text-decoration: none;
  font-weight: 550;
  font-family: "Open Sans", sans-serif;
  color: rgb(23, 23, 23);
  cursor: pointer;
}

.menu-item:hover {
  color: #ff6a00;
}

.menu-item.active {
  color: #3d27ff;
}

.menu img {
  max-width: 60%;
}

/* Adiciona o detalhe do ícone ativo */
.menu li {
  position: relative;
}


.menu li a::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 3.5px;
  bottom: -10px;
  left: 1%;
  border-radius: .5rem;
  background-color: var(--primeira-cor-seg-detale);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu li:hover a::before {
  transform: scaleX(1);
}

.menu-content li.active a::before {
  transform: scaleX(1);
  background-color: #ff3300;
}


.menu-link {
  font-size: var(--h3-font-size);
  color: var(--texto-cor-light);
  cursor: pointer;
}

.menu-link:hover {
  color: var(--primeira-cor-lighter-terc);
}

/* Show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--primeira-cor);
}

/* Ajustes para o menu móvel */
@media screen and (max-width: 800px) {
  .menu {
    padding-top: 3rem;
    padding-right: 2rem;
    gap: 3rem;
    align-self: flex-start;
  }

  .logo {
    width: 100px;
  }

  .menu img {
    max-width: 90%;
  }
  
  
  .menu-item {
    width: 50%;
  }

  .menu-content {
    
    display: none;
    transition: 0.4s ease;
  }

  .menu.active .menu-content  {
    margin: 0 auto;
    padding: 1rem 1.5rem 2rem;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left ;
    gap: 1.5rem;
    height: 71%;
    position: fixed;
    right: 0;
    top: 1rem;
    background: linear-gradient(155deg, #080808, #301808,#ff5601);
    box-shadow: 0 -1px 4px rgba(51, 51, 51, 0.15);
    border-radius: 1.5rem 0 1.5rem 0;
    transition: .3s;
    z-index: 2000;
  }

  .menu-item {
    width: 30%;
    color: #f9f9f9;
  }

  /* Ícone do menu (hambúrguer) */
  .menu.active .nav-menu-icon {
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2.5rem;
    display: block;
    width: 30px;
    height: 25px;
    z-index: 3000;
  }

  /* Linhas do ícone */
  .nav-menu-icon span {
    display: block;
    height: 3px;
    background-color: #ff3300;
    margin: 5px 0;
    border-radius: 4rem;
    transition: 0.4s;
    z-index: 2000;
  }

  .bar1 {
    width: 24px;
  }

  .nav-menu-icon .bar2 {
    background-color: #ff7627;
  }

  .bar3 {
    position: relative;
    left: 23%;
    width: 24px;
  }

  /* Quando o ícone está ativo (hambúrguer vira X) */
  .menu-icon.active .bar1 {
    transform: translateY(-4px) rotate(320deg);
    background-color: #1E1D1D;
    z-index: 1000;
  }

  .nav-menu-icon.active .bar2 {
    opacity: 0;
    z-index: 1000;
  }

  .nav-menu-icon.active .bar3 {
    transform: translateY(-20px) translateX(-6px) rotate(41deg);
  }

  .nav-open,
  .nav-toggle {
    color: #1E1D1D;
  }

  /* Detalhe do ícone ativo */
  .menu li.active::before {
    content: '';
    position: relative;
    inset: .7rem -3rem;
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 1.5px;
  }

  .menu li a::before {
    content: "🕮";
    position: absolute;
    width: 10%;
    height: 3.8px;
    bottom: 22px;
    left: -60%;
    border-radius: .5rem;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
}


/* Estilo para o menu mobile */
.menu-content {
  display: none;
  transition: 0.4s ease;
}

.menu.show-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1E1D1D;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.nav-menu-icon {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 25px;
  z-index: 3000;
}

.nav-menu-icon span {
  display: block;
  height: 3px;
  background-color: #ff3300;
  margin: 5px 0;
  border-radius: 4rem;
}

.menu.active .bar1 {
  position: relative;
  left: .5rem;
  background-color: #ff7627;
  transform: translateY(6px) rotate(45deg);
}

.menu.active .bar2 {
  opacity: 0;
}

.menu.active .bar3 {
  transform: translateY(-10px) rotate(-45deg);
}
