.menu {
  display: flex;
  padding: 0 0 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  height: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu ul {
  margin: 1.5rem;
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menu-item  {
  text-decoration: none;
  font-weight: 550;
  font-family: "Open Sans", sans-serif;
  color: rgb(96, 96, 96);
  cursor: pointer;
}

.menu-item:hover{
  color: #2b2b2b;
}

.menu-item.active{
  color: #3d27ff;
}


