.banner  {
  margin: 0 auto;
  max-width: 100%;
  img {
    padding: 2rem 0;
    position: relative;
    inset:  0 15rem;
    max-width: 40%;
    object-position: 3rem;
  }
  h1 {
    padding: 1rem;
    color:#662801;
    width: 25ch;
    text-align: left;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
  }
  .title-banner {
    color:#fff8dd;
    font-size: 3rem;
    text-transform: uppercase;
  }

  .detail-title {
    color: #03e289; 
    font-size: 3.5rem;
  }
}


.banner figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1000;
  padding: 0;
  background: linear-gradient(170deg, #fc4300, #fb6203, #321200);
  ;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1900px ) {
  .banner {
    img {
      inset: 1rem 0 0 4.6rem;
      object-position: 0;
    }
  }
}


@media screen and (max-width: 1300px ) {
  .banner {
    max-width: 100%;
    img {

      inset: 1rem 0 0 -1rem;
      object-position: 0;
    }
  }
}

@media screen and (max-width: 600px ) {
  .banner {
    max-width: 100%;
    img {

      inset: 1rem 0 0 6rem;
      object-position: 0;
    }
    h1 {
      font-size: 1rem;
    }
    .title-banner {
      color:#fff;
      font-size: 2.5rem;
      text-transform: uppercase;
    }
  }
 
  .banner figure {
    flex-direction: column;
  }
}


@media screen and (max-width: 360px ) {
  .banner {
    max-width: 100%;
    img {

      inset: 1rem 0 0 4rem;
      object-position: 0;
    }
  }
}