.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  border-color: var(--tertiary-color-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.modal-content {
  margin: 0 auto;
  padding: 1rem 1rem;
  position: relative;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.modal-close {
  background-color: #ccc;
  width: 50px;
  position: absolute;
  top: 1%;
  left: 85%;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
}

.modal.ativo {
  opacity: 1;
  visibility: visible;
}

.modal-close {
  background-color: #fa8181;
  width: 1%;
  position: absolute;
  top: 10%;
  left: 82%;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
}

.x-icon::before,
.x-icon::after {
  display: block;
  position: absolute;
  content: '';
  width: 3px;
  height: 25px;
  z-index: 1000;
  background-color: #ac1a1a;
  cursor: pointer;
}

.x-icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}


.modal.ativo {
  opacity: 1;
  visibility: visible;
}

.modal-close:hover {
  background-color: var(--secondary-color);
 
}

.moldal-content-info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px ) {
  
  .modal-close {
    border-color: transparent;
    background-color: transparent;
    height: auto;
    top: 6%;
    left: 75%;
    right: 1rem;
    font-size: 1.5rem;

  }

}