.loading {
    margin: 0 auto;
    margin-bottom:  2rem;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(255, 73, 18, 0.733); 
    border-top-color: rgba(255, 204, 174, 0.733);; 
    animation:  run 1s linear infinite;   
}

@keyframes run {
    
    to {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
