#root {
  margin: 0 auto;
  text-align: center;
  --color: #7086ff;
  --font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.title {
  position: relative;
  width: 100%;
  margin: 5rem 0 5rem 0;
  color: var(--color);
  font-size: 2.5rem;
  font-family: var(--font-family);
}

.title::before {
  content:'' ;
  display: block;
  position: absolute;
  margin: 2rem auto;
  inset: -4rem 0 0 0;
  display: inline-block;
  max-width: 40%;
  height: 1.8px;
  background-color: black;
  z-index: 1;
}