.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;

  .header {
    position: relative;
    z-index: 1;
    width: 334px;
    background-color: #fff5f5;
    border-radius: .6rem;
    margin-bottom: -2rem;
    border-radius: .6rem;

    img {
      margin: 0 auto;
      width: 50%;
    }
  }


  .footer {
    position: relative;
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: .3rem .3rem .9rem rgba(26, 26, 26, 0.363);

    h4 {
      width: 25ch;
      margin-bottom: -1rem;
      text-align: center;
      color: #084a96;
      font-size: 1.1rem;
      line-height: 1.3rem;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }

    h5 {
      padding: 0 1rem;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.4rem;
      color: #212121;
      font-family: 'Poppins', sans-serif;
    }

    p {
      max-width: 27ch;
      line-height: 1.1rem;
      color: #212121;
      font-size: 1rem;
      text-align: left;
      text-transform: uppercase;
      font-weight: lighter;
    }
   
  }
}



.footer .favorite,
.footer .delete {
  padding: 1rem 0 0 0;
  display: flex;
  justify-content:  flex-end;
  align-self: flex-end;
  color: #212121;
}

.delete {
  padding-bottom: 1rem;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;

  p {
    color: #2e2e2e;
    font-size: 1.225rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .icon-delete {
    cursor: pointer;
  }
}


.book figure {
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;
  object-fit: cover;
  inset: 3rem  0;
  width: 90%;
}

.icon-delete {
  cursor: pointer;
}



@media screen and (max-width: 400px) {
  .book {
    width: 100%;

    .header {
      width: 100%;
    }

    .footer {
      width: 90%;
    }
  }

  .delete {
    width: 10px;
  }
}


@media screen and (max-width: 397px) {
  .book {
    
    .header {
      width: 100%;
    }
    .footer {
      text-align: center;
      gap: 3rem;
    
    
      h4 {

      padding-top: 1rem;
      }
    }
  }

}
