.search {
  padding: 2rem;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: 'Poppins', sans-serif;
}

.search-results {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
}

.search-field {
  display: flex;  
  width: 40%;
  gap: 1rem;
}

.search-field input {
  text-align: center;
  width: 100%; 
  border-color: #0f0f0f;
  border-radius: .3rem;
}

@media screen and (max-width: 1024px) {
  .search {
    flex-direction: column;
  }  
  .search-field {
    width: 100%;
  }
  
}